# Create a Table

In a relational database, data is held in a 2-dimensional structure with rows and columns called a 'table.' If you're familiar with the Pandas library, this is similar to a dataframe (a fact we will put to good use shortly) or, if you've used a spreadsheet program, it's similar to a single sheet.

Each row in a table contains a 'record' and the individual columns are often referred to as 'fields.'

We'll create a table to hold readings of temperature and pressure taken during balloon flights. First, let's connect to our database:

In [4]:
import sqlalchemy as sa
engine = sa.create_engine('sqlite:///flight.db')
connection = engine.connect()

Here is the SQL to create a suitable table with eight columns.

For each column, we have to define its data type and here we have to be careful. Data types are not standardised across different DBMSs.

**NOTE:** It is a common convention that SQL keywords are capitalised but this isn't strictly necessary in order to be valid SQL. It's largely redundant today since most editors will apply syntax highlighting to SQL but, for this tutorial, the convention is useful as we'll see shortly.

CREATE TABLE readings (
    flight    VARCHAR(10),
    ts        TIMESTAMP,
    temp      NUMERIC(3,1),
    pressure  NUMERIC(4,0),
    humidity  NUMERIC(3,0),
    accel_x   REAL,
    accel_y   REAL,
    accel_z   REAL,
)

For each column, we can also define whether a null value is allowed and, if not, what the default value should be:

CREATE TABLE readings (
    flight    VARCHAR(10) NOT NULL,
    ts        TIMESTAMP NOT NULL,
    temp      NUMERIC(3,1) NOT NULL,
    pressure  NUMERIC(4,0) NOT NULL,
    humidity  NUMERIC(3,0) NOT NULL,
    accel_x   REAL DEFAULT 0 NOT NULL,
    accel_y   REAL DEFAULT 0 NOT NULL,
    accel_z   REAL DEFAULT 0 NOT NULL,
)

We can also add constraints to each column so that the database will throw an error if any attempt is made to enter invalid values. These are know as CHECK constraints and each has a name - commonly the field to which the constraint applies followed by _ck:

CREATE TABLE readings (
    flight    VARCHAR(10) NOT NULL,
    ts        TIMESTAMP NOT NULL,
    temp      NUMERIC(3,1) NOT NULL,
    pressure  NUMERIC(4,0) NOT NULL,
    humidity  NUMERIC(3,0) NOT NULL,
    accel_x   REAL DEFAULT 0 NOT NULL,
    accel_y   REAL DEFAULT 0 NOT NULL,
    accel_z   REAL DEFAULT 0 NOT NULL,

    CONSTRAINT temp_ck CHECK (temp BETWEEN -70 AND 70),
    CONSTRAINT pres_ck CHECK (pressure BETWEEN 0 AND 2000),
    CONSTRAINT hum_ck CHECK (humidity BETWEEN 0 AND 100)
)

And we can also define something known as a 'primary key' constraint for the table. This is a similar concept to a pandas index and defines a field, or combination of fields, which must be unique for each record and which can then be used to perform efficient indexed searches of the table contents.

Again, the constraint has a name and this is commonly the name of the table followed by _pk:

CREATE TABLE readings (
    flight    VARCHAR(10) NOT NULL,
    ts        TIMESTAMP NOT NULL,
    temp      NUMERIC(3,1) NOT NULL,
    pressure  NUMERIC(4,0) NOT NULL,
    humidity  NUMERIC(3,0) NOT NULL,
    accel_x   REAL DEFAULT 0 NOT NULL,
    accel_y   REAL DEFAULT 0 NOT NULL,
    accel_z   REAL DEFAULT 0 NOT NULL,

    CONSTRAINT readings_pk PRIMARY KEY (flight, ts),
    CONSTRAINT temp_ck CHECK (temp BETWEEN -70 AND 70),
    CONSTRAINT pres_ck CHECK (pressure BETWEEN 0 AND 2000),
    CONSTRAINT hum_ck CHECK (humidity BETWEEN 0 AND 100)
)

In order to execute an SQL statement, we can use the 'execute' method of our connection object which takes a string as its argument. Let's hold our table creation SQL in a triple quoted string variable and pass it to the connection method.

(This technique is why the capitalisation convention is useful for us since most editors cannot easily syntax highlighting to SQL within string variables):

In [5]:
sql = """
CREATE TABLE readings (
    flight    VARCHAR(10) NOT NULL,
    ts        TIMESTAMP NOT NULL,
    temp      NUMERIC(3,1) NOT NULL,
    pressure  NUMERIC(4,0) NOT NULL,
    humidity  NUMERIC(3,0) NOT NULL,
    accel_x   REAL DEFAULT 0 NOT NULL,
    accel_y   REAL DEFAULT 0 NOT NULL,
    accel_z   REAL DEFAULT 0 NOT NULL,

    CONSTRAINT readings_pk PRIMARY KEY (flight, ts),
    CONSTRAINT temp_ck CHECK (temp BETWEEN -70 AND 70),
    CONSTRAINT pres_ck CHECK (pressure BETWEEN 0 AND 2000),
    CONSTRAINT hum_ck CHECK (humidity BETWEEN 0 AND 100)
)
"""
connection.execute(sql)

If you are using DB Browser for SQLite, you can should be able to open 'flights.db' and see the new table within your database.