# Look at What we Did!

So far, we have created a table and inserted three records into but we've only been able to see the results of what we've done if we are running the code on our own computer and we have the DB Browser for SQLite tool installed.

Wouldn't it good if we could use Python to show us some results?

Let's connect to our database:

In [5]:
import sqlalchemy as sa
engine = sa.create_engine('sqlite:///flight.db')
connection = engine.connect()

We'll use the [Pandas](https://pandas.pydata.org/) library to import data from our database and view it in our Jupyter notebook.

Pandas has a two dimensional structure called a 'dataframe' which has many similarities to a database table.

It also has a 'read_sql' function which takes two arguments: a string which can be either a table name or an SQL 'SELECT' statment (more on those later) and an sqlalchemy connection object. read_sql returns a pandas dataframe object which we can then display.

First, let's import the pandas library:

In [6]:
import pandas as pd

And now we can pass the name of our 'readings' table and our connection object to read_sql:

In [7]:
pd.read_sql('readings', connection)

,flight,ts,temp,pressure,humidity,accel_x,accel_y,accel_z
0,hab1,2015-01-01 09:00:00,25.5,1020,40,0.0,0.0,0.0
1,hab1,2015-01-01 09:01:00,25.5,1019,40,0.0,0.0,0.0
2,hab1,2015-01-01 09:02:00,25.5,1019,41,0.0,0.0,0.0