# Add Some Data

In [1]:
import sqlalchemy as sa
engine = sa.create_engine('sqlite:///flight.db')
connection = engine.connect()

In [2]:
sql = """
    INSERT INTO readings(flight, ts, temp, pressure, humidity)
    VALUES ('hab1', '2015-01-01 09:00:00', 25.5, 1020, 40);
"""
connection.execute(sql)

In [3]:
sql = """
    INSERT INTO readings(flight, ts, temp, pressure, humidity)
    VALUES
      ('hab1', '2015-01-01 09:01:00', 25.5, 1019, 40),
      ('hab1', '2015-01-01 09:02:00', 25.5, 1019, 41)
"""
connection.execute(sql)